body {
    background-color: rgb(19, 19, 19);
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 200;
    transition: 0.2s;
    display: inline;
    font-size: 4rem;
}
.tutorial {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 150;
    font-size: 1.2rem;
    transition: 0.2s;
    display: inline;
}
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:6rem;
    height:3rem;
    font-size: 1rem;
    font-weight:200;
    color: rgb(183, 121, 248);
    background: rgb(41, 41, 41);
    border-radius: 1.563rem;
    border-color: rgb(240,240,240);
    border-style:solid;
    transition: 0.1s;
    visibility: visible;
}
h1:hover {  
    font-weight: bold;  
    font-size: 4.5rem;
}
.tutorial:hover {
    font-weight: bold;
    font-size: 1.5rem;
}
button:hover {
    background: rgb(50,50,50);
    font-size:1.1rem;   
    width:6.5rem;
    height:3.5rem;
    font-weight: bold;
    transition: 0.2s;
}
button:active {
    width: 6.8rem;
    height: 3.8rem;
    font-weight: bolder;
    font-size: 1.3rem;
    transition: 0.3s;
}
div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: solid white 2px;
    border-radius: 1.563rem;
    width: 10rem;
    height: auto;
    text-align: center;
    visibility: hidden;
}
